@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

.tot{
    text-align: center;
    border-radius: 10px;
}


h1, h2, h3 {
    font-weight: lighter;
}

body {
    background-color: white;
}

main {
    background-color: #eee;
    padding: 2em;
    padding-top: 2em;
    width: 90%;
    margin: auto;
    margin-top: 3em;
}

#basics {
    text-align: justify;
    width: 85%;
    border: 0.1px solid rgb(206, 206, 206);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 2em;
    padding-right: 2em;
}

img {
    margin-top: 10px;
}
#ibagem {
    margin: auto;
    margin-top: 5px;
    width: 90%;
    border: 0.1px solid rgb(206, 206, 206);
    border-radius: 5px;
    margin-bottom: 10px;
}

#infoimg {
    background-color: #DDDDDD;
    border: 0.1px solid rgb(206, 206, 206);
    border-radius: 5px;
    margin: 5px;
    padding: 1em;
    font-size: larger;
}

#resumo {
    width: 90%;
    margin: auto;
    text-align: justify;
    font-size: 1em;
}

#titulo_res {
    font-size: 1.5em;
}

#lista {
    font-size: 1.2em;
}

#more_info {
    width: 90%;
    margin: auto;
    text-align: center;
    font-style: italic;
}